   Static hostname: sadmin-VirtualBox
         Icon name: computer-vm
           Chassis: vm
        Machine ID: e20a45cacdc94abaa7b4e78da28957a4
           Boot ID: c6ca30188ed1423cacc1c5edd8011bae
    Virtualization: oracle
  Operating System: Ubuntu 20.04.2 LTS
            Kernel: Linux 5.11.0-25-generic
      Architecture: x86-64
